@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .ios-scroll {
        -webkit-overflow-scrolling: touch;
    }

    input:-webkit-autofill {
        background-color: transparent !important;
        -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
        -webkit-text-fill-color: white !important;
        caret-color: white !important;
        transition: background-color 5000s ease-in-out 0s;
    }

    input:-webkit-autofill:focus,
    input:-webkit-autofill:hover {
        background-color: transparent !important;
        -webkit-text-fill-color: white !important;
        caret-color: white !important;
    }

}

::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #1E293B;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #3c4a5f;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #50617b;
}

.custom-emoji-picker .emoji-group {
    display: none;
}

.custom-emoji-picker .emoji-preview {
    display: none;
}

@media (max-width: 640px) {
    .Toastify__toast-container {
        left: 50% !important;
        right: auto !important;
        transform: translateX(-50%);
    }
}

/* Remove number input arrows (spinners) for WebKit browsers (Chrome, Safari, Edge) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove number input arrows for Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}